@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

* {
  scroll-behavior: smooth;
  font-family: "Poppins", Times, serif; 
  margin: 0px;
  padding: 0px;
  
}

.menu-background-position-0 > .menu-background-pattern {
  background-position: -25% 0%;
}

.menu-background-position-1 > .menu-background-pattern {
  background-position: -50% 0%;
}

.menu-background-position-2 > .menu-background-pattern {
  background-position: -75% 0%;
}

.menu-background-position-3 > .menu-background-pattern {
  background-position: -100% 0%;
}

#menu-background-animation{
  overflow: auto;
}

.menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 10%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  display: inline-block;
  flex-flow: column;
  height: 900px;
  max-height: min-content;
  width: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  z-index: 1;
}

@media screen and (max-width: 481px) {
  .menu-background-pattern {
    height: 325px;
  }
}

@media screen and (min-width: 480px) and (max-width: 619px) {
  .menu-background-pattern {
    height: 350px;
  }
}

@media screen and (min-width: 620px) and (max-width: 779px) {
  .menu-background-pattern {
    height: 525px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1059px) {
  .menu-background-pattern {
    height: 850px;
  }
}
@media screen and (min-width: 1060px) and (max-width: 1400px) {
  .menu-background-pattern {
    height: 925px;
  }
}


.menu:hover ~ .menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;

}

.menu-items:hover > .menu-item {
  opacity: 0.3;
}

.menu-items:hover > .menu-item:hover {
  opacity: 1; 
}

#Contact-Button{
  color: white;
}
